.card {
    width: 100%; 
    overflow-x: auto; 
  }
.list_kategori button {
    color: #ffffff;
    background-color: #D9D9D9;
    border: 2px solid #ffffff;
    width: 150px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 50px;
  }
  
  .list_kategori button:hover {
    background-color: #ffffff;
    color: #333333;
    border: none;
  }
  .card_row {
    display: flex;
    padding: 10px;
    width: max-content; 
    margin: 20px 0;
  }
  .card_product {
    background-color: #f0f0f0; 
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    width: 150px; 
    height: 200px; 
    margin-right: 20px;
    flex-shrink: 0; 
    text-align: center;
    padding: 0;
    box-shadow: 0 4px 8px #33333311;
  }
  .pict{
    height: 60%;
    width: 100%;
    background-image: url('../assets/image/nasgor.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
  }
  .sub{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  .sub p{
    margin: 0;
    padding: 0;
  }
  .card::-webkit-scrollbar {
    display: none; 
  }
  .card_row {
    -ms-overflow-style: none;  /* IE dan Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .bar_info {
    display: flex;
    padding: 10px 50px;
    background-color:#ffffff ;
    display: flex;
    height: 90px;
    overflow-y: auto;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 4px 8px #33333311;
  }
  .bar_info p{
    color: #333333;
    margin: 0;
  }

  .qtt, .total_price {
    display: flex;
    align-items: center; 
    margin-right: 50px;
    height: 100%;
  }
  .total_price{
    margin-right: 200px;
  }
  .info {
    color: #333333;
    border: 2px solid #007f73;
    background-color:#ffffff ;
    width: 150px;
    height: 35px; 
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 5px 0px;
    box-sizing: border-box;
  }
  .btn{
    color: #ffffff;
    background-color:#007f73;
    border: none;
    width: 100px;
    height: 40px; 
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 5px 0px;
    box-sizing: border-box;
  }