<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post.</title>
    <link rel="stylesheet" href="../../css/home.css">
</head>
<body>
    <div class="navbar">
        <h1>Post.</h1>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Dahsboard</a></li>
            <li><a href="">Bills</a></li>
            <li><a href="">Setting</a></li>
        </ul>
    </div>
</body>
</html>